*{
	box-sizing: border-box;
}
[class*="col-"]{
	padding: 15px; float:left; width: 100%;
}

@media only screen and (min-width: 600px;) {
	/*For tablets */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
@media only screen and(min-width: 768px) {
	/*For desktop */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

header{
	text-align: center;
	color: #ffffff;
}

body{
	background-color: #DC143C;
}
.table1{
	font-family: sans-serif;
	color: #444;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #DC143C;
}

.table1 tr th{
	background: #FF0033;
	color: #fff;
	font-weight: normal;
}

.table, th, td{
	padding: 8px 20px;
	text-align: center;
}

.table1 tr{
	background-color: #f5f5f5;
}

.table1 tr:nth-child(even){
	background-color: #ff9966;
}
p{
	text-align: left;
	color: #ffffff;
}
a{
	text-decoration: none;
}
input{
	background: #ff9966;
	text-align: center;
	color: white;
}
.button{
	cursor:pointer;
	display: block;
	color: white;
	float: left;
	background: #ff9966;
	padding:10px;
	border-radius: 5px;
	border: 1px solid #ff9966;
	font-weight: bolder; 
	text-decoration: none;
}
.button a{
	text-decoration: none;
}
.kotak {
	border-radius: 10px;
	height: 30px;
	border: 5px solid #ff9966;
	color: #ffffff;
}